<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>373174886294-96gmvo0g9agvjvkg3dkg4566jr68cieq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.373174886294-96gmvo0g9agvjvkg3dkg4566jr68cieq</string>
	<key>API_KEY</key>
	<string>AIzaSyCthb6P3QaVBK--j8jrKHokPSysfsGhwH0</string>
	<key>GCM_SENDER_ID</key>
	<string>373174886294</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.shreeBhagwat.Ping</string>
	<key>PROJECT_ID</key>
	<string>ping-9e43c</string>
	<key>STORAGE_BUCKET</key>
	<string>ping-9e43c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:373174886294:ios:d1e9d4ff46dbcb7c</string>
	<key>DATABASE_URL</key>
	<string>https://ping-9e43c.firebaseio.com</string>
</dict>
</plist>